footer{
    background-color: black;
    height: 209px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #E5E5E5;
}

footer img{
    display: block;
    height: 36px;
    width: auto;
    margin:auto;
    padding-top: 66px
}

footer p{ 
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 767px){
    footer p{
        font-size: 12px;
    }
}